<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASUZE FASHION</title>
    <link rel="stylesheet" href="../view/layout/css/home.css">
    <link rel="stylesheet" href="../view/layout/css/default.css">
    <link rel="stylesheet" href="../view/layout/css/color.css">
    <link rel="stylesheet" href="../view/layout/css/header.css">
    <!-- Required Core stylesheet -->
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
<!-- Optional Theme stylesheet -->
    <link rel="stylesheet" href="../view/layout/css/dangki.css">
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.9/glider.css" integrity="sha512-nfkkRjU7urjt0UPiMZpiFlK1SAy657MtPOG1DdM9kvBbwdspZ4dH+Gsu43U3Kry8UsF8eyjqjBppcw2wx7TU3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="app">
        <header id="header">
            <div class="grid">
              <!-- start menu producy -->
                    <nav class="header_menu">
                        <div class="header_menu_logo">
                            <a href="../view/index.html" class="header_menu_logo_link">
                                <img src="../view/layout/img/logo/Untitled-1_page-0001-removebg-preview.png" alt="ASUZE FASHION" sizes="" srcset="" class="header_menu_logo_img">
                            </a>
                        </div>
                        <ul class="header_menu_list">
                            <li class="header_menu_item"><a href="information" class="header_menu_link">giới thiệu</a></li>
                            <li class="header_menu_item"><a href="product.html" class="header_menu_link">sản phẩm </a>
                                <div class="header_menu_item_border_second">
                                    <ul class="header_menu_item_border_second_list">
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Áo</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Áo khoác</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Đáy</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">phụ kiện</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header_menu_item"><a href="" class="header_menu_link">chính sách</a></li>
                            <li class="header_menu_item"><a href="news.html" class="header_menu_link">tin tức</a></li>
                            <li class="header_menu_item"><a href="contact.html" class="header_menu_link">liên hệ</a></li>
                            <li class="header_menu_item">
                                <div class="header_menu_item_zone">
                                    <input type="search" name="btnseach" id="" class="header_menu_item_zone_input" placeholder="tìm kiếm sản phẩm ...">
                                    <i class="fa-solid fa-magnifying-glass header_menu_item_zone_search" name="txtsearch"></i>
                                </div>
                            </li>
                            <li class="header_menu_item">
                                <a href="cart.html">
                                    <i class="fa-solid fa-cart-plus header_menu_icon_cart"></i>
                                </a>
                            </li>
                            <li class="header_menu_item">
                                <i class="fa-solid fa-user header_menu_item_user"></i>
                                <div class="header_menu_item_user_boder">
                                        <ul class="header_menu_item_user_boder_list">
                                            <li class="header_menu_item_user_boder_item"><a href="form_register.html" class="header_menu_item_user_boder_link">Đăng kí</a></li>
                                            <li class="header_menu_item_user_boder_item"><a href="form_login.html" class="header_menu_item_user_boder_link">Đăng nhập</a></li>
                                        </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
              <!-- finish menu product -->
            </div>
        </header>
        <div class="wapper">
            <section id="form_register">
                <form action="" method="post">
                    <div class="border_form">
                       <header class="border_form_header">
                            <h2  class="border_form_header_txt">
                                đăng kí
                            </h2>
                       </header>
                       <article class="border_form_article">
                            <nav class="border_form_nav">
                                <div class="border_form_item">
                                    <p class="border-form_item-txt">Họ tên :<label for="" id="border_form_item_txt" ></label></p>
                                    <input type="text" name="username" id="username" placeholder="Họ tên *" autocomplete="off" >
                                </div>
                                <div class="border_form_item">
                                    <p class="border-form_item-txt">Số điện thoại<label for="" id="border_form_item_txt" ></label></p>
                                    <input type="text" name="numberphone" id="numberphone" placeholder="Số điện thoại *" required autocomplete="off" maxlength="20">
                                </div>
                                <div class="border_form_item">
                                    <p class="border-form_item-txt">Email<label for="" id="border_form_item_txt" ></label></p>
                                    <input type="email" name="txtemail" id="txtemail" placeholder="Email *" autocomplete="off" required maxlength="30">
                                </div>
                                <div class="border_form_item">
                                    <p class="border-form_item-txt">Mật khẩu<label for="" id="border_form_item_txt" ></label></p>
                                    <input type="password" name="txtpassword" id="txtpassword" placeholder="Mật khẩu *" autocomplete="off" required maxlength="20">
                                    <i class="fa-solid fa-eye" id="eyes" onclick="eyesact()"></i>
                                </div>
                                <div class="border_form_item">
                                    <p class="border-form_item-txt">Nhập lại mật khẩu<label for="" id="border_form_item_txt" ></label></p>
                                    <input type="password" name="resetpassword" id="resetpassword" placeholder="Nhập lại mật khẩu *" autocomplete="off" required maxlength="20">
                                    <i class="fa-solid fa-eye" id="eyes" onclick="eyses()"></i>
                                </div>
                                <div class="border_form_item ">
                                    <input type="button" name="nhap" id="nhap" value="Đăng kí"  class="sub">
                                </div>
                                <div class="border_form_item">
                                    <p class="or">Hoặc</p>
                                </div>
                                <div class="border_form_item">
                                    <div class="tool">
                                        <div class="tool_facebook">
                                            <i class="fa-brands fa-facebook tool_facebook_icon"></i>
                                            <span class="Facebook">Facebook</span>
                                        </div>
                                        <div class="tool_facebook">
                                            <i class="fa-brands fa-google tool_google_icon"></i>
                                            <span class="Facebook">Google</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="border_form_item">
                                    <div class="link">
                                        <span>Bạn đã có tài khoản</span>
                                        <a href="form_login.html">Đăng nhập</a>
                                    </div>
                                </div>
                            </nav>
                       </article>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.9/glider.min.js" integrity="sha512-4Y5AXHQsKRWv/566s/2jHXVBo2J4xNpapJJeaVGSbSEbHroH82lNN8y9dxbI9j5q0O9uzef5yRy5glBvfO941g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../view/layout/js/icon_search.js"></script>
<script src="../view/layout/js/typing.js"></script>
<script src="../view/layout/js/slide.js"></script>
<script src="../view/layout/js/glide.js"></script>
<script src="../view/layout/js/dangki.js"></script>
<script src="../view/layout/js/showpass.js"></script>
</html>