<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASUZE FASHION</title>
    <link rel="stylesheet" href="../view/layout/css/home.css">
    <link rel="stylesheet" href="../view/layout/css/default.css">
    <link rel="stylesheet" href="../view/layout/css/color.css">
    <link rel="stylesheet" href="../view/layout/css/header.css">
    <!-- Required Core stylesheet -->
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
<!-- Optional Theme stylesheet -->
    <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.9/glider.css" integrity="sha512-nfkkRjU7urjt0UPiMZpiFlK1SAy657MtPOG1DdM9kvBbwdspZ4dH+Gsu43U3Kry8UsF8eyjqjBppcw2wx7TU3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="app">
        <header id="header">
            <div class="grid">
              <!-- start menu producy -->
                    <nav class="header_menu">
                        <div class="header_menu_logo">
                            <a href="../view/index.html" class="header_menu_logo_link">
                                <img src="../view/layout/img/logo/Untitled-1_page-0001-removebg-preview.png" alt="ASUZE FASHION" sizes="" srcset="" class="header_menu_logo_img">
                            </a>
                        </div>
                        <ul class="header_menu_list">
                            <li class="header_menu_item"><a href="information" class="header_menu_link">giới thiệu</a></li>
                            <li class="header_menu_item"><a href="product.html" class="header_menu_link">sản phẩm </a>
                                <div class="header_menu_item_border_second">
                                    <ul class="header_menu_item_border_second_list">
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Áo</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Áo khoác</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Đáy</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">phụ kiện</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header_menu_item"><a href="" class="header_menu_link">chính sách</a></li>
                            <li class="header_menu_item"><a href="news.html" class="header_menu_link">tin tức</a></li>
                            <li class="header_menu_item"><a href="contact.html" class="header_menu_link">liên hệ</a></li>
                            <li class="header_menu_item">
                                <div class="header_menu_item_zone">
                                    <input type="search" name="btnseach" id="" class="header_menu_item_zone_input" placeholder="tìm kiếm sản phẩm ...">
                                    <i class="fa-solid fa-magnifying-glass header_menu_item_zone_search" name="txtsearch"></i>
                                </div>
                            </li>
                            <li class="header_menu_item">
                                <a href="cart.html">
                                    <i class="fa-solid fa-cart-plus header_menu_icon_cart"></i>
                                </a>
                            </li>
                            <li class="header_menu_item">
                                <i class="fa-solid fa-user header_menu_item_user"></i>
                                <div class="header_menu_item_user_boder">
                                        <ul class="header_menu_item_user_boder_list">
                                            <li class="header_menu_item_user_boder_item"><a href="form_register.html" class="header_menu_item_user_boder_link">Đăng kí</a></li>
                                            <li class="header_menu_item_user_boder_item"><a href="form_login.html" class="header_menu_item_user_boder_link">Đăng nhập</a></li>
                                        </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
              <!-- finish menu product -->
            </div>
        </header>
        <div class="wapper">
            <section id="banner">
                <div class="grid">
                    <div class="banner">
                        <div class="banner_zone">
                            <header class="banner_zone_header">
                                <h1 class="banner_zone_txt">welcome to asuze</h1>
                            </header>
                            <nav class="banner_zone_tilte">
                                <p class="banner_zone_tilte_txt">shaping place</p>
                                <span id="banner_zone_tilte_txt_noidung" class="banner_zone_tilte_txt_noidung"></span>
                            </nav>
                            <footer class="banner_zone_footer">
                                    <a href="product.html" class="banner_zone_footer_link">
                                            <button class="banner_zone_footer_btn">show collection</button>
                                    </a>
                            </footer>
                        </div>
                        <div class="banner_img">
                            <div class="banner_img_list">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                            </div>
                            </div>
                    </div>
                </div>
            </section>

            <!-- giới thiệu nhãn hiệu sản phẩm -->
            <section class="brand_introduction">
                <div class="grid">
                    <header class="brand_introduction_header">
                        <h2 class="brand_introduction_h2">brand introduction</h2>
                    </header>
                    <article class="brand_introduction_article">
                        <nav class="brand_introduction_nav">
                            <div class="brand_introduction_img_s">
                                <!-- <img src="../view/layout/img/banner/levents-local-brand-6.jpg  " alt="hình ảnh asuze" srcset="" class="brand_introduction_img_brand"> -->
                                <video class="brand_introduction_video" controls style="width: 600px;">
                                   <source src="../view/layout/img/video/4366b3f6f309446f9e70ab3423800eb9.HD-720p-1.6Mbps-26210720.mp4" type="video/mp4">
                                    <!-- <source src="../view/layout/img/video/4366b3f6f309446f9e70ab3423800eb9.HD-720p-1.6Mbps-26210720.mp4" type="video/ogg"> -->
                                </video>
                            </div>
                            <div class="brand_introduction_information_brand" >
                                <header class="brand_introduction_information_brand_header">
                                    <h3 class="brand_introduction_information_brand_txt">Asuze brand</h3>
                                </header>
                                <article class="brand_introduction_information_brand_article">
                                    <p class="brand_introduction_img_brand_txt">
                                        Mùa Xuân 2024, Asuze® mang đến bộ sưu tập mới với những items mang đậm tinh thần sáng tạo để khích lệ chất riêng trong phong cách thời trang cũng như tính cách của từng bạn trẻ.
                                        Các items đều được chăm chút tỉ mỉ đến từng chi tiết, thiết kế và chất liệu để mang đến những sản phẩm chất lượng vượt trội, độ bền cao, nổi bật nhưng vẫn thanh lịch và phù hợp với mọi giới tính cũng như dáng người. Đảm bảo bất kì ai cũng có thể tự tin thể hiện bản thân, lan tỏa năng lượng tích cực khi diện lên mình các sản phẩm đến từ Asuze®.
                                        
                                        
                                    </p>
                                </article>
                                <footer class="brand_introduction_img_brand_footer">
                                    <button class="brand_introduction_img_brand_footer_btn">see more</button>
                                </footer>
                            </div>
                        </nav>
                    </article>
                </div>
            </section>
            <!-- kết thúc phần giới thiệu sản phẩm -->
            <!-- mơ đầu phần sản phẩm nổi  bật -->
            <!-- <section id="outstanding_products">
                <div class="grid">
                    <div class="outstanding_products">
                        <header class="outstanding_products_header">
                            <h2 class="outstanding_products_txt">outstanding products</h2>
                        </header>
                        <article class="outstanding_products_article">
                            
                            <div class="glide">
                                <div data-glide-el="controls">
                                    <div class="product_box">
                                        <div class="p-img-container">
                                            <div class="p-img">
                                                <a href="#">
                                                    <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="" srcset="" class="p-img-front">
                                                    <img src="../view/layout/img/product/White_LTSBXCOA265UW0101SS24_2.jpg" alt="" srcset="" class="p-img-back">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="p-box-text">
        
                                            <div class="product_categoly">
                                                <span>Nón</span>
                                            </div>
                                            <a href="" class="product-title">
                                                jasjgajsj
                                            </a>
                                            <div class="price-buy">
                                                <span class="p-price">120.000vnd</span>
                                                <a href="" class="p-price-btn">buy now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_box">
                                        <div class="p-img-container">
                                            <div class="p-img">
                                                <a href="#">
                                                    <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="" srcset="" class="p-img-front">
                                                    <img src="../view/layout/img/product/White_LTSBXCOA265UW0101SS24_2.jpg" alt="" srcset="" class="p-img-back">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="p-box-text">
        
                                            <div class="product_categoly">
                                                <span>Nón</span>
                                            </div>
                                            <a href="" class="product-title">
                                                jasjgajsj
                                            </a>
                                            <div class="price-buy">
                                                <span class="p-price">120.000vnd</span>
                                                <a href="" class="p-price-btn">buy now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_box">
                                        <div class="p-img-container">
                                            <div class="p-img">
                                                <a href="#">
                                                    <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="" srcset="" class="p-img-front">
                                                    <img src="../view/layout/img/product/White_LTSBXCOA265UW0101SS24_2.jpg" alt="" srcset="" class="p-img-back">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="p-box-text">
        
                                            <div class="product_categoly">
                                                <span>Nón</span>
                                            </div>
                                            <a href="" class="product-title">
                                                jasjgajsj
                                            </a>
                                            <div class="price-buy">
                                                <span class="p-price">120.000vnd</span>
                                                <a href="" class="p-price-btn">buy now</a>
                                            </div>
                                        </div>
                                    </div>
                                  <button data-glide-dir="<">prev</button>
                                  <button data-glide-dir=">">next</button>
                                </div>
                              </div>



    
                        </article>

                    </div>
                </div>
            </section> -->
            <!-- kết thúc phần sản phẩm nổi bật -->
            <!-- banner sale trong tháng -->
            <section id="banner_sale">
              
                <div class="banner_sale_img">
                    <img src="../view/layout/img/banner-sale/FASHION .png" alt="" srcset="">
                    <div class="banner_sale_img_btn">
                            <a href="">
                                <input type="button" value="See more">
                            </a>
                    </div>
                </div>
            </section>
                <!-- kết thúc banner sale trong tháng -->
            <!-- phần sản phẩm nổi bật -->
            <section id="sale_products">
                <div class="sale_products">
                        <div class="grid">
                            <header class="sale_products_header">
                                <h3 class="sale_products_header_txt">sale product</h3>
                            </header>
                            <article class="sale_products_article">
                                <!-- phần nav  -->
                                    <nav class="sale_products_nav">
                                        <!-- phần list sản phẩm  -->
                                            <div class="sale_products_list">
                                                <div class="sale_products_item">
                                                        <div class="sale_products_img">
                                                            <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                            <div class="sale_products_add">
                                                                <a href="">
                                                                    <i class="fa-solid fa-cart-plus"></i>
                                                                    <span>Thêm</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <a href="" class="sale_products_link">
                                                            <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                        </a>
                                                        <div class="price">
                                                            <strong class="price_now">200000VND</strong>
                                                            <s class="price_old">400000VND</s>
                                                        </div>
                                                </div>
                                                <div class="sale_products_item">
                                                    <div class="sale_products_img">
                                                        <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                        <div class="sale_products_add">
                                                            <a href="">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                <span>Thêm</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="" class="sale_products_link">
                                                        <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                    </a>
                                                    <div class="price">
                                                        <strong class="price_now">200000VND</strong>
                                                        <s class="price_old">400000VND</s>
                                                    </div>
                                                </div>
                                                <div class="sale_products_item">
                                                    <div class="sale_products_img">
                                                        <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                        <div class="sale_products_add">
                                                            <a href="">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                <span>Thêm</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="" class="sale_products_link">
                                                        <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                    </a>
                                                    <div class="price">
                                                        <strong class="price_now">200000VND</strong>
                                                        <s class="price_old">400000VND</s>
                                                    </div>
                                                </div>
                                                <div class="sale_products_item">
                                                    <div class="sale_products_img">
                                                        <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                        <div class="sale_products_add">
                                                            <a href="">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                <span>Thêm</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="" class="sale_products_link">
                                                        <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                    </a>
                                                    <div class="price">
                                                        <strong class="price_now">200000VND</strong>
                                                        <s class="price_old">400000VND</s>
                                                    </div>
                                                 </div>
                                                 <div class="sale_products_item">
                                                    <div class="sale_products_img">
                                                        <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                        <div class="sale_products_add">
                                                            <a href="">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                <span>Thêm</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="" class="sale_products_link">
                                                        <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                    </a>
                                                    <div class="price">
                                                        <strong class="price_now">200000VND</strong>
                                                        <s class="price_old">400000VND</s>
                                                    </div>
                                                 </div>
                                                 <div class="sale_products_item">
                                                    <div class="sale_products_img">
                                                        <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                        <div class="sale_products_add">
                                                            <a href="">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                <span>Thêm</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="" class="sale_products_link">
                                                        <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                    </a>
                                                    <div class="price">
                                                        <strong class="price_now">200000VND</strong>
                                                        <s class="price_old">400000VND</s>
                                                    </div>
                                                </div>
                                                <div class="sale_products_item">
                                                    <div class="sale_products_img">
                                                        <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                        <div class="sale_products_add">
                                                            <a href="">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                <span>Thêm</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="" class="sale_products_link">
                                                        <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                    </a>
                                                    <div class="price">
                                                        <strong class="price_now">200000VND</strong>
                                                        <s class="price_old">400000VND</s>
                                                    </div>
                                                 </div>
                                                 <div class="sale_products_item">
                                                    <div class="sale_products_img">
                                                        <img src="../view/layout/img/product/Red_LCPSPACU345UR01NOSS24_1.jpg" alt="hình ảnh sản phẩm" srcset="" class="sale_products_img_product">
                                                        <div class="sale_products_add">
                                                            <a href="">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                                <span>Thêm</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <a href="" class="sale_products_link">
                                                        <span class="sale_products_txt">Hình ảnh sản phẩm </span>
                                                    </a>
                                                    <div class="price">
                                                        <strong class="price_now">200000VND</strong>
                                                        <s class="price_old">400000VND</s>
                                                    </div>
                                            </div>
                                            </div>
                                        <!-- kết thúc phần list sản phẩm  -->
                                    </nav>
                                <!-- kết thúc phần nav  -->
                            </article>

                            <footer class="sale_products_footer">
                                <a href="">
                                    <button>see more</button>
                                </a>
                            </footer>
                        </div>
                </div>
            </section>
            <!-- kết thúc phần sản phẩm nổi bật -->
        </div>
        <footer class="footer">
            <div class="grid">
                <div class="footer_list">
                    <div class="footer_item">
                        <div class="footer_item_img">
                            <img src="../view/layout/img/logo/Untitled-1_page-0001-removebg-preview.png" alt="" srcset="">
                        </div>                      
                    </div>
                    <div class="footer_item">
                        <ul class="footer_menu_list">
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Cửa hàng ASUZE</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">139E Nguyễn Trãi, Phường Bến Thành, Quận 1, HCM</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">842 Sư Vạn Hạnh, phường 12, quận 10, HCM</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">54 Mậu Thân, An Phú, quận Ninh Kiều, Cần Thơ</span>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_item">
                        <ul class="footer_menu_list">
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Liên hệ</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Hotline 1900 633 028</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Email for customer customercare@levents.asia</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Email for recruitment hr-admin@levents.asia</span>
                            </li>
                        </ul>
                    </div>
                    <div class="footer_item">
                        <ul class="footer_menu_list">
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Hỗ trợ</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Easy shopping</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Tài khoản</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Hướng dẫn đo size</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Chính sách đổi trả</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Chính sách vận chuyển</span>
                            </li>
                            <li class="footer_menu_item">
                                <span class="footer_menu_txt">Chính sách membership</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_information">
                <p>Copyright © FASHION ASURE. All copyrights are reserved. Designed by Nina.vn</p>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.9/glider.min.js" integrity="sha512-4Y5AXHQsKRWv/566s/2jHXVBo2J4xNpapJJeaVGSbSEbHroH82lNN8y9dxbI9j5q0O9uzef5yRy5glBvfO941g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../view/layout/js/icon_search.js"></script>
<script src="../view/layout/js/typing.js"></script>
<script src="../view/layout/js/slide.js"></script>
<script src="../view/layout/js/glide.js"></script>
</html>