<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASUZE FASHION</title>
    <link rel="stylesheet" href="../view/layout/css/home.css">
    <link rel="stylesheet" href="../view/layout/css/default.css">
    <link rel="stylesheet" href="../view/layout/css/color.css">
    <link rel="stylesheet" href="../view/layout/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="app">
        <header id="header">
            <div class="grid">
              <!-- start menu producy -->
                    <nav class="header_menu">
                        <div class="header_menu_logo">
                            <a href="../view/index.html" class="header_menu_logo_link">
                                <img src="../view/layout/img/logo/Untitled-1_page-0001-removebg-preview.png" alt="ASUZE FASHION" sizes="" srcset="" class="header_menu_logo_img">
                            </a>
                        </div>
                        <ul class="header_menu_list">
                            <li class="header_menu_item"><a href="" class="header_menu_link">giới thiệu</a></li>
                            <li class="header_menu_item"><a href="" class="header_menu_link">sản phẩm </a>
                                <div class="header_menu_item_border_second">
                                    <ul class="header_menu_item_border_second_list">
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Áo</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Áo khoác</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">Đáy</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                        <li class="header_menu_item_border_second_item">
                                            <a href="" class="header_menu_item_boder_second_link">phụ kiện</a>
                                            <i class="fa-solid fa-chevron-right header_menu_item__second_icon"></i>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header_menu_item"><a href="" class="header_menu_link">chính sách</a></li>
                            <li class="header_menu_item"><a href="" class="header_menu_link">tin tức</a></li>
                            <li class="header_menu_item"><a href="" class="header_menu_link">liên hệ</a></li>
                            <li class="header_menu_item">
                                <div class="header_menu_item_zone">
                                    <input type="search" name="btnseach" id="" class="header_menu_item_zone_input" placeholder="tìm kiếm sản phẩm ...">
                                    <i class="fa-solid fa-magnifying-glass header_menu_item_zone_search" name="txtsearch"></i>
                                </div>
                            </li>
                            <li class="header_menu_item">
                                <a href="cart.html">
                                    <i class="fa-solid fa-cart-plus header_menu_icon_cart"></i>
                                </a>
                            </li>
                            <li class="header_menu_item">
                                <i class="fa-solid fa-user header_menu_item_user"></i>
                                <div class="header_menu_item_user_boder">
                                        <ul class="header_menu_item_user_boder_list">
                                            <li class="header_menu_item_user_boder_item"><a href="" class="header_menu_item_user_boder_link">Đăng kí</a></li>
                                            <li class="header_menu_item_user_boder_item"><a href="" class="header_menu_item_user_boder_link">Đăng nhập</a></li>
                                        </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
              <!-- finish menu product -->
            </div>
        </header>
        <div class="wapper">
            <section id="banner">
                <div class="grid">
                    <div class="banner">
                        <div class="banner_zone">
                            <header class="banner_zone_header">
                                <h1 class="banner_zone_txt">welcome to asuze</h1>
                            </header>
                            <nav class="banner_zone_tilte">
                                <p class="banner_zone_tilte_txt">shaping place</p>
                                <span id="banner_zone_tilte_txt_noidung" class="banner_zone_tilte_txt_noidung"></span>
                            </nav>
                            <footer class="banner_zone_footer">
                                    <a href="product.html" class="banner_zone_footer_link">
                                            <button class="banner_zone_footer_btn">show collection</button>
                                    </a>
                            </footer>
                        </div>
                        <div class="banner_img">
                            <div class="banner_img_list">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                                <img src="../view/layout/img/banner/levents-local-brand-6.jpg" alt="hình ảnh sản phẩm" srcset="" class="banner_img_i">
                            </div>
                            </div>
                    </div>
                </div>
            </section>

            <!-- giới thiệu nhãn hiệu sản phẩm -->
            <section class="brand_introduction">
                <div class="grid">
                    <header class="brand_introduction_header">
                        <h2 class="brand_introduction_h2">brand introduction</h2>
                    </header>
                    <article class="brand_introduction_article">
                        <nav class="brand_introduction_nav">
                            <div class="brand_introduction_img_s">
                                <!-- <img src="../view/layout/img/banner/levents-local-brand-6.jpg  " alt="hình ảnh asuze" srcset="" class="brand_introduction_img_brand"> -->
                                <video class="brand_introduction_video" controls style="width: 600px;">
                                   <source src="../view/layout/img/video/4366b3f6f309446f9e70ab3423800eb9.HD-720p-1.6Mbps-26210720.mp4" type="video/mp4">
                                    <!-- <source src="../view/layout/img/video/4366b3f6f309446f9e70ab3423800eb9.HD-720p-1.6Mbps-26210720.mp4" type="video/ogg"> -->
                                </video>
                            </div>
                            <div class="brand_introduction_information_brand" >
                                <header class="brand_introduction_information_brand_header">
                                    <h3 class="brand_introduction_information_brand_txt">Asuze brand</h3>
                                </header>
                                <article class="brand_introduction_information_brand_article">
                                    <p class="brand_introduction_img_brand_txt">
                                        Mùa Xuân 2024, Asuze® mang đến bộ sưu tập mới với những items mang đậm tinh thần sáng tạo để khích lệ chất riêng trong phong cách thời trang cũng như tính cách của từng bạn trẻ.
                                        Các items đều được chăm chút tỉ mỉ đến từng chi tiết, thiết kế và chất liệu để mang đến những sản phẩm chất lượng vượt trội, độ bền cao, nổi bật nhưng vẫn thanh lịch và phù hợp với mọi giới tính cũng như dáng người. Đảm bảo bất kì ai cũng có thể tự tin thể hiện bản thân, lan tỏa năng lượng tích cực khi diện lên mình các sản phẩm đến từ Asuze®.
                                        
                                        
                                    </p>
                                </article>
                                <footer class="brand_introduction_img_brand_footer">
                                    <button class="brand_introduction_img_brand_footer_btn">see more</button>
                                </footer>
                            </div>
                        </nav>
                    </article>
                </div>
            </section>
            <!-- kết thúc phần giới thiệu sản phẩm -->
            <!-- mơ đầu phần sản phẩm nổi  bật -->
            <section id="outstanding_products">
                <div class="outstanding_products">
                    <header class="outstanding_products_header">
                        <h2 class="outstanding_products_txt">outstanding products</h2>
                    </header>
                  
                    
                </div>
            </section>
            <!-- kết thúc phần sản phẩm nổi bật -->

        </div>
        <footer id="footer"></footer>
    </div>
</body>
<script src="../view/layout/js/icon_search.js"></script>
<script src="../view/layout/js/typing.js"></script>
<script src="../view/layout/js/slide.js"></script>
</html>