.tool_plus
{
    display: flex;
    align-items: center;
    padding-left:10px ;
    gap:  0 10px;
}
.tool_save a,
.tool_out a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0 6px;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}
.tool_save a
{
    background-color: #1888ff;
}
.tool_out a
{
    background-color: #de4150;
}
.tool_reset 
{
    border: none;
    background-color: #727a82;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0 6px;
}
.tool_reset input
{
    border: none;
    background-color: #727a82;
    color: #fff;
}