<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator ASURE</title>
    <link rel="stylesheet" href="../admin/layout/css/default.css">
    <link rel="stylesheet" href="../admin/layout/css/lv1.css">
    <link rel="stylesheet" href="../admin/layout/css/control_infromation.css">
    <link rel="stylesheet" href="../admin/layout/css/catalogylv2.css">
    <link rel="stylesheet" href="../admin/layout/css/pluscatologylv2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="app">
       <div class="sidebar close">
            <a href="#" class="logo_box">
                <!-- <i class="fa-brands fa-xing"></i>
                <div class="logo_name">yourlogp</div> -->
                <img src="../admin/layout/img/logo/logo-removebg-preview.png" alt="NINA COMPANY" srcset="" class="logo_img">
            </a>
            <ul class="slider_list">
                <li>
                    <div class="title">
                        <a href="#" class="link">
                            <i class="fa-solid fa-gauge-high"></i>
                            <span class="name">Bảng điều khiển hệ thống</span>
                        </a>
                        <!-- <i class="fa-solid fa-chevron-down"></i> -->
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">Bảng điều khiển hệ thống</a>
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-layer-group"></i>
                            <span class="name">Group Sản Phẩm</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">Group Sản Phẩm</a>
                        <a href="" class="links">Danh mục cấp 1</a>
                        <a href="" class="links">Danh mục cấp 2</a>
                        <a href="" class="links">sản phẩm</a>
                        <a href="" class="links">tag sản phẩm</a>
                        <a href="" class="links">watermark</a>
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-layer-group"></i>
                            <span class="name">group tin tức</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">group tin tức</a>
                        <a href="" class="links">Tin tức</a>
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-newspaper"></i>
                            <span class="name">Danh sách bài viết</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">catelogy</a>
                        <a href="" class="links">tiêu chí</a>
                        <a href="" class="links">giới thiệu</a>
                        <a href="" class="links">dịch vụ</a>
                        <a href="" class="links">vì sao chọn chúng tôi</a>
                        <a href="" class="links">chính sách</a>
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-photo-film"></i>
                            <span class="name">quản lý hình ảnh - bài viết</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">quản lý hình ảnh - bài viết</a>
                        <a href="" class="links">banner</a>
                        <a href="" class="links">logo</a>
                        <a href="" class="links">logo footer</a>
                        <a href="" class="links">favicon</a>
                        <a href="" class="links">social</a>
                        <a href="" class="links">đối tác</a>
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-bookmark"></i>
                            <span class="name">Quản lý trang tỉnh</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">Quản lý trang tỉnh</a>
                        <a href="" class="links">slogan</a>
                        <a href="" class="links">copyright</a>
                        <a href="" class="links">text logo</a>
                        <a href="" class="links">liên hệ</a>
                        <a href="" class="links">footer</a>
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-users"></i>
                            <span class="name">Quản lý user</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">Quản lý user</a>
                        <a href="" class="links">thông tin admin</a>
                        
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-share-nodes"></i>
                            <span class="name">Quản lý SEO page</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <div class="submenu">
                        <a href="" class="link_submmenu_tilte">Quản lý SEO page</a>
                        <a href="" class="links">trang chủ</a>
                        <a href="" class="links">sản phẩm</a>
                        <a href="" class="links">tin tức</a>
                        <a href="" class="links">dịch vụ</a>
                        <a href="" class="links">liên hệ</a>
                    </div>
                </li>
                <li class="dropdow ">
                    <div class="title">
                        <a href="" class="link">
                            <i class="fa-solid fa-gears"></i>
                            <span class="name">thiết lập thông tin</span>
                        </a>
                        <i class="fa-solid fa-chevron-down icon_down"></i>
                    </div>
                    <!-- <div class="submenu">
                        <a href="" class="link_submmenu_tilte">Quản lý SEO page</a>
                        <a href="" class="links">trang chủ</a>
                        <a href="" class="links">sản phẩm</a>
                        <a href="" class="links">tin tức</a>
                        <a href="" class="links">dịch vụ</a>
                        <a href="" class="links">liên hệ</a>
                    </div> -->
                </li>
            </ul>
           
       </div>
       <!-- <div class="title"></div> -->
        <div class="tool">
            <section class="home">
                <div class="toggle_silebar">
                    <i class="fa-solid fa-bars"></i>
                    <div class="text">Xin chào admin</div>
                </div>
                <div class="tool_Notification">
                    <div class="tool_reply">
                        <a href="../view/index.html">
                            <i class="fa-solid fa-reply"></i>
                        </a>
                    </div>
                    <div class="too_setting">
                        <i class="fa-solid fa-gears" id="icon_seting"></i>
                        <div class="setting_information">
                            <ul class="setting_information_list">
                                <li class="setting_information_item">
                                    <a href="">
                                        <i class="fa-solid fa-user-gear"></i>
                                        <span> Thông tin admin</span>
                                    </a>
                                </li>
                                <li class="setting_information_item">
                                    <a href="">
                                        <i class="fa-solid fa-key"></i>
                                        <span> Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li class="setting_information_item">
                                    <a href="">
                                        <i class="fa-regular fa-trash-can"></i>
                                        <span>Xóa bộ nhớ cache</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tool_bell">
                        <i class="fa-solid fa-bell" id="icon_bell"></i>
                        <div class="notification_contatc">
                            <ul class="notification_contatc_list">
                                <li class="notification_contatc_item">
                                   <span>Thông báo</span>
                                </li>
                                <li class="notification_contatc_item">
                                    <a href="">
                                        <i class="fas fa-envelope"></i>
                                        <span>liên hệ</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tool_logout">
                        <a href="../admin/login.html">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>đăng xuất</span>
                        </a>
                    </div>
                </div>
            </section>
            <!-- --------------bẳng điều khiển-------------------- -->
            <!-- <section class="dashboard">
                <header class="dashboard_header">
                    <p>bảng điều khiển</p>
                </header>
                <nav class="dashboard_header_tool">
                    <div class="configuration_website">
                        <a href="configuration.html">
                            <div class="configuration_website_icon">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <div class="configuration_website_txt">
                                <h5>Cấu hình website</h5>
                                <span>xem thêm</span>
                            </div>
                        </a>
                    </div>
                    <div class="account">
                        <a href="account.html">
                            <div class="account_website_icon">
                                <i class="fas fa-user-cog"></i>
                            </div>
                            <div class="account_website_txt">
                                <h5>tài khoản</h5>
                                <span>xem thêm</span>
                            </div>
                        </a>
                    </div>
                    <div class="change_password">
                        <a href="changepass.html">
                            <div class="change_password_website_icon">
                                <i class="fas fa-key"></i>
                            </div>
                            <div class="change_password_website_txt">
                                <h5>đổi mật khẩu</h5>
                                <span>xem thêm</span>
                            </div>
                        </a>
                    </div>
                    <div class="contact_letter">
                        <a href="contact_letter.html">
                            <div class="contact_letter_website_icon">
                                <i class="fas fa-address-book"></i>
                            </div>
                            <div class="contact_letter_website_txt">
                                <h5>thư liên hệ</h5>
                                <span>xem thêm</span>
                            </div>
                        </a>
                    </div>
                </nav>
            </section> -->
            <!-- -------------------kết thúc bảng điều khiển-------------- -->
             <!-- <section id=" level_1_business_category">
                <header class="level_1_business_category_header">
                    <a href="../admin/index.html">bảng điều khiển</a>
                    /
                    <a href="../admin/catologylv1.html">danh mục cấp 1</a>
                </header>
                <nav class="level_1_business_category_nav">
                    <form action="" method="post">
                        <div class="input_tool">
                            <div class="add_product">
                               <a href="">
                                    <i class="fa-solid fa-plus"></i>
                                    <span>Thêm mới</span>
                               </a>
                            </div>
                            <div class="dellet_product">
                                <a href="">
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span>Xóa tất cả</span>
                               </a>
                            </div>
                            <div class="search_product">
                                <input type="search" name="txtsearch" id="txtsearch" placeholder="Tìm kiếm">
                                <input type="submit" value="Nhập" onclick="return btnsearch()" id="search">
                                <div class="error"></div>
                            </div>
                        </div>
                    </form>
                    <div class="category">
                        <div class="category_txt">
                            <span class="category_txt_name">Danh mục cấp 1</span>
                        </div>
                        <table class="table_category">
                            <tr class="table_tr">
                                <th>STT</th>
                                <th>Tiêu đề</th>
                                <th>Nổi bật </th>
                                <th>Hiển thị</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr class="table_tr">
                                <td>STT</td>
                                <td><span>Sản phẩm nhập khẩu</span></td>
                                <td><input type="checkbox" name="txtoutstanding" id="txtoutstanding"> </td>
                                <td><input type="checkbox" name="txtdisplay" id="txtdisplay"> </td>
                                <td class="table_linl"><a href="" class="edit"><i class="fa-solid fa-pen-to-square" class="delete"></i></a>|<a href=""><i class="fa-regular fa-trash-can"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </nav>
             </section> -->
             <!-- ---------------------bảng điều khiển danh mục cấp 2----------------------------- -->

              <!----------------------- kết thúc bảng điều khiển danh mục cấp 2------------------------------------ -->
             <section id="catology_lv2">
                <header class="catology_lv2_header">
                    <a href="../admin/index.html">Bảng điều khiển</a>
                    /
                    <a href="../admin/categorylv2..html">Danh mục cấp 2</a>
                </header>
                <nav class="catology_lv2_header_nav">
                    <form action="" method="post">
                        <div class="catology_lv2_tool">
                            <div class="catology_lv2_tool_plus">
                                <a href="">
                                    <i class="fa-solid fa-plus"></i>
                                    <span>Thêm mới</span>
                                </a>
                            </div>
                            <div class="catology_lv2_tool_delete">
                                <a href="">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span>Xóa tất cả</span>
                                </a>
                            </div>
                            <div class="catology_lv2_search">
                                <input type="search" name="txtsearch" id="txtsearch" placeholder="Tìm kiếm">
                                <input type="submit" value="Nhập" onclick="return btnsearch()" id="search">
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="catology_lv2_select">
                            <select name="txtselext" id="txtselext">
                                 <option value="Chọn danh mục" selected>Chọn danh mục</option>
                                 <option value="Quần kaki">Quần kaki</option>
                                 <option value="Áo thun">Áo thun</option>
                            </select>
                        </div>
                        <div class="tb_category_lv2">
                            <header class="table_category_lv2_header">
                                <p>danh sách danh mục cấp 2</p>
                            </header>
                            <table class="table_category_lv2">
                                <tr>
                                    <th>STT</th>
                                    <th>Hình</th>
                                    <th>Tiêu đề</th>
                                    <th>Hiển thị </th>
                                    <th>Nổi bật</th>
                                    <th>Thao tác</th>
                                </tr>
                               <tr>
                                    <td></td>
                                    <td><img src="" alt=""></td>
                                    <td><span>Nước lau nhà mới</span></td>
                                    <td><input type="checkbox" name="txtdisplay" id="txtdisplay"></td>
                                    <td><input type="checkbox" name="txtoutstanding" id="txtoutstanding"></td>
                                    <td><a href="" class="edit"><i class="fa-solid fa-pen-to-square"></i></a>|<a href="" class="trash"><i class="fa-solid fa-trash-can"></i></a></td>
                               </tr>
                            </table>
                        </div>
                    </form>
                </nav>
             </section>
            </div>
       
    </div>
</body>
<script src="../admin/layout/js/sidebar.js"></script>
<script src="../admin/layout/js/setting_tool.js"></script>
<script src="../admin/layout/js/icon_notification.js"></script>
<script src="../admin/layout/js/errorsearch.js"></script>
</html>